<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MTG LifeCounter copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MTG LifeCounter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>lifecounter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04B24A8D143C8DA400549F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B24AB9143C8DA400549F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8409BAB416B8329E007A76BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8409BAD816B83486007A76BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
